{% extends 'layouts/base.html.twig' %}

{% block title 'home'%}

{% block body %}
<div class="page">
<a href="/salarie/edit/new" class="btn btn-primary">Nouveau salarié</a>
</br>
<div class="archive">
{% for user in users %}

    <article class="article">
        <h2 >{{user.nom}} {{user.prenom}}</h2>
        <div class="metadata">{{user.fonction.label}}</div>
        {% if user.nbTache %}
            <div class="metadata">nombre de tache(s) : {{user.nbTache}}</div>
        {% else %}
            <div class="metadata">aucune tache pour le moment</div>
        {% endif %}

        <a href="/tache/edit/chambre/{{user.id}}" class="btn btn-primary">nouvelle tache</a>
        <a href="../salarie/{{ user.id }}" class="btn btn-outline-primary">voir plus</a>

    </article>

{% endfor %}






</div>
</div>
{% endblock %}
